* {
    margin: 0;
    padding: 0;
}

.big-margin-bottom {
    margin-bottom: 25em;
}

.nav-item-color1 {
    color: whitesmoke;
}

.article-box {
    background-color: rgb(231, 245, 227);
    border: 1px solid greenyellow;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-links {
    margin: 0.5em;
}

.active-page {
    color: red;
}

.article-image {
    width: 100%;
    object-fit: cover;
}


















